article{
    display: flex;
    align-items: center;

    margin-left: 50px;
    margin-top: 10px;

    border: 1px solid black;

    padding-left: 20px;

    width: 1200px;
    height: 200px;
}

.image-card img{
    height: 150px;
    width: 150px ;
}



.gauche1{
    width: 20%;
    height: 80%;

    display: flex;

    justify-content: center;

    flex-direction: column;

    margin-left: 15px;
}


.gauche2{
    width: 25%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.centre{
    width: 10%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 20px;


}

.bouton{
    margin-left: 30px;
    width: 15%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: center;

}


.tri{
    width: 700px;
    height: 200px;
    margin-left: 37px;
    margin-top: 40px;
    margin-bottom: 50px;
}


#no-found{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}


#form-create{
    width: 500px;
    height: 800px;

    margin-left: 650px;

    display: flex;
    justify-content: space-between;
}


#alert{
 width: 500px;
 
 display: flex;
 justify-content: center;
 align-items: center;

 position: absolute;
 right: 250px;
 top:35px;
 
}

#alert h2{   
    display: flex;
    justify-content: center;
    align-items: center; 
   }


   